#SQL

##Task 1
Query all columns for a city in CITY with the ID 1661.

Input Format

The CITY table is described as follows: <br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

1.   List item
2.   List item

In [ ]:
  SELECT * FROM city WHERE id=1661

##Task 2
Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

Input Format<br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

In [ ]:
SELECT * FROM city WHERE population > 100000 AND countrycode = "USA"

##Task 3
Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

Input Format:<br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

In [ ]:
SELECT * FROM city WHERE countrycode = "JPN"

##Task 4
Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

Input Format<br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg">

In [ ]:
SELECT name FROM city WHERE countrycode = "JPN"

##Task 5
Query a list of CITY and STATE from the STATION table.

Input Format

The STATION table is described as follows:<br>
<img src = 'https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg'>

In [ ]:
SELECT city, state FROM station

##Task 6
Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

Input Format

The STATION table is described as follows:<br>
<img src ="https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg">

In [ ]:
SELECT DISTINCT city FROM station WHERE ID % 2 = 0

Let  be the number of CITY entries in STATION, and let  be the number of distinct CITY names in STATION; query the value of  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

Input Format

The STATION table is described as follows:<br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg"><br>
where LAT_N is the northern latitude and LONG_W is the western longitude.

In [ ]:
SELECT COUNT(city) - COUNT(DISTINCT city) FROM station

##Task 7
Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

Input Format

The STATION table is described as follows:<br>
  <img src = "https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg">

In [ ]:
(SELECT city, LENGTH(city) FROM station ORDER BY LENGTH(city) ASC, city ASC LIMIT 1)
UNION
(SELECT city, LENGTH(city) FROM station ORDER BY LENGTH(city) DESC, city ASC LIMIT 1)

##Task 8
Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows: <br>
<img src = "https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg" >

In [ ]:
# MS SQL Server
SELECT DISTINCT city FROM station WHERE city LIKE "[aouie]%"
# MY SQL Server
SELECT DISTINCT city from station WHERE LEFT(city, 1) in ('a', 'o', 'i', 'e', 'u')

##Task 9
Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:<br>
<img src ="https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg">

In [ ]:
# MS SQL Server
SELECT DISTINCT city FROM station WHERE city LIKE "%[aouie]"
# MYSQL
SELECT DISTINCT city from station WHERE RIGHT(city, 1) in ('a', 'o', 'i', 'e', 'u')

##Task 10
Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

Input Format

The STATION table is described as follows:<br>
<img src ="https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg">

In [ ]:
# MS SQL Server
SELECT DISTINCT city FROM station WHERE city LIKE "[aouie]%[aouie]"
# MYSQL
SELECT DISTINCT city from station WHERE RIGHT(city, 1) in ('a', 'o', 'i', 'e', 'u') and LEFT(city, 1) in ('a', 'o', 'i', 'e', 'u')

##Task 1
Task
Given an integer, perform the following conditional actions:

* If n is odd, print `Weird`
* If n is even and in the inclusive range of 2 to 5, print `Not Weird`
* If n is even and in the inclusive range of 6 to 20, print `Weird`
* If n is even and greater than 20, print `Not Weird`

Input Format

A single line containing a positive integer

Output Format

Print Weird if the number is weird; otherwise, print Not Weird.

In [ ]:
if __name__ == '__main__':
        n = int(input())

        # your code here
        if n%2 != 0:
            print("Weird")
        elif n%2 == 0 and n in range(2,5):
            print("Not Weird")
        elif n%2 == 0 and n in range(6, 20):
            print("Weird")
        elif n%2 == 0 and n > 20:
            print("Not Weird")

#Python

##Task 2
Read two integers from STDIN and print three lines where:
<ol>
  <li>The first line contains the sum of the two numbers.</li>
  <li>The second line contains the difference of the two numbers (first - second).</li>
  <li>The third line contains the product of the two numbers.</li>
</ol>

**Input Format**

The first line contains the first integer, **a**. The second line contains the second integer, **b**.

**Output Format**

Print the three lines as explained above.

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    # your code here
    print("Sum(a,b) = {0}\nDiff(a,b) = {1}\nProduct(a,b) = {2}".format(a+b, a-b, a*b))

#Task 3
Task
Read an integer $N$. For all non-negative integers $i<N$ , print $i^{2}$. See the sample for details.

Input Format

The first and only line contains the integer, $N$ .

Constraints<br>
$1 \leq N \leq i$

Output Format

Print $N$ lines, one corresponding to each $i$.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    # your code here
    for i in range(n):
        print(i**2)

##Task 4
We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February.<br>

In the Gregorian calendar three criteria must be taken into account to identify leap years:
<ul>
<li>The year can be evenly divided by 4, is a leap year, unless:</li>
  <ul><li>The year can be evenly divided by 100, it is NOT a leap year, unless:</li>
    <ul><li>The year is also evenly divisible by 400. Then it is a leap year.</li></ul></ul></ul>
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.Source

**Task**<br>
<ul>
<li>You are given the year, and you have to write a function to check if the year is leap or not.</li>

  <li>Note that you have to complete the function and remaining code is given as template.</li>
  </ul>

**Input Format**

Read y, the year that needs to be checked.

**Constraints**<br>
$1900 \leq y \leq 10^{5}$

**Output Format**

Output is taken care of by the template. Your function must return a boolean value (True/False)

In [ ]:
def is_leap(year):
  # your code here
  return True if (year % 4 == 0) and ((year % 100 != 0) or (year % 100 == 0 and year % 400 == 0)) else False

##Task 5
Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given $n$ scores. Store them in a list and find the score of the runner-up.

**Input Format**

The first line contains $n$ . The second line contains an array $A[]$ of $n$ integers each separated by a space.

**Constraints**<br>
$2   \leq n \leq 10 $<br>
$-100 \leq A[i] \leq 100 $

Output Format

Print the runner-up score.

In [25]:
import timeit

import numpy as np
# O(n) time complexity
if __name__ == '__main__':
  n = int(input())
  # your code here
  A = np.random.randint(-100, 100, size=n)
  print("Original list score: {}".format(A))
    
  A = list(set(A))

  # Fixed using np.sort
  start = timeit.default_timer()
  A1 = np.sort(np.array(A), axis=None) #O(n)
#   print("Array sorted: {0}".format(A1))
  print("runner-up score: {0}".format(A1[-2]))
  stop = timeit.default_timer()
  print('Time: ', stop - start)

  start = timeit.default_timer()
  for i in range(0, 2):
        max_i = i
        for j in range(i+1, len(A)):
            if A[j] > A[max_i]:
                max_i = j
        A[i], A[max_i] = A[max_i], A[i]
#   print("Array sorted: {0}".format(A))
  print("runner-up score: {0}".format(A[1]))
  stop = timeit.default_timer()
  print('Time: ', stop - start)

1000
Original list score: [ -92   83  -92  -35  -69  -13   66  -37   26  -49   46  -86   88    1
  -74   16  -50  -66   86   87  -63   91  -95  -50   98  -20  -37   -5
   14   76   37  -26  -82  -87   20  -18   80  -81   43   90   39  -95
  -72  -74  -97   61   60    0   24   50  -33  -26  -83   98  -65   62
   97   99   55  -41  -28  -19  -85   96  -87  -69   60  -86   56  -34
   90   73   18   80   58   34  -84   44  -75   99    1  -66    9   66
  -51   97  -62   78  -45  -76   74   30   31   88  -29   64   56   63
   67  -70    2   -1   29   65   59  -78  -32  -90   12  -32  -63  -98
  -93  -60   98  -18  -96   97   66   69   38   67   44   30  -77   26
  -18  -60  -14   57  -84  -94  -30   92  -53  -25   89  -11   97  -63
  -98   87   59   54    6  -14  -16   95  -60  -37   38  -63  -88  -35
   88  -37   82   45  -10  -24   96  -83  -88  -51  -18   98   35  -55
  -35   52  -48   -2  -23   55    1  -10  -26   10   55   21  -52  -84
  -60  -93   21  -74  -41   58   89   71   58  -40   88  -37   -5   98
   40   81   94  -93  -93   19   83  -58    7   29   71  -86   93   95
   69  -39   70  -23   55   53   67   56  -63   59  -26  -93  -42   -5
   59  -93  -29  -36   84  -40   47  -53  -37   80   86    0   -4   82
  -23  -61   94   76    9   55   24  -30   78   37  -47  -75  -25   44
  -44  -91   39   23   17   60    9   70   62  -69   84  -30  -89  -98
  -17  -23   -8   22   90   75  -96  -48    9  -14   69  -95  -47   33
    4  -81   -5   35  -55  -10   17  -34   -1   64  -31   85  -65    1
  -42  -78  -82  -51   32  -11   50  -34   90  -96    0   37  -84  -96
   -3  -20  -91   86  -57  -27    3  -64   63  -14   62   23   81  -28
   14   77  -35   52  -37   10   58  -20  -74  -93   27   70  -33  -31
   -2  -12  -23  -39  -61  -64  -82   89  -84   93  -12   80   88   20
   28  -59    2  -72  -18   91   98   99  -95  -51  -64   26  -71  -75
   89   95   46   94  -74   66  -97  -13   57  -77  -90  -83   37   40
   12   84   87   70  -32  -69  -56   44   61  -17   42  -10   89   -2
  -33   30  -51  -63  -46    7  -17   25  -62   81   37   32  -22   -5
  -30   51   41  -91   32    0  -48  -52  -80  -43  -21   23   30   97
    8  -12  -53   42   63  -90   50  -24    4  -75  -88   40   29  -25
   13  -72  -86   41  -95  -83   96   68  -60  -21  -23   38   56   66
   85    4  -99  -93  -80  -74  -26   95   92   31  -75   36  -24    3
   99  -39  -98  -58   86   27   89  -65  -90   94  -29   39   46    1
  -62   18   75  -60   35   26   38    9   36   18   22   57   45  -81
   48  -39   37  -85   92   15  -76   37    0  -98  -88   11   36  -32
  -81   83   75  -77   69   83  -29   89  -59  -52   49  -37   89   80
   12   79   87   57   -7  -67   12   13  -46  -24  -98   87   59   39
   78   31  -31   35   80  -83   67   85   98    6   20   50   47   49
  -13  -86   29   27   23   42  -13   86   42    2   53  -99  -92  -78
  -80  -41  -82  -30  -70  -68   56   27   56   -3   -9   72   61   17
   -6   56   76   18   64   82   85    3  -32   37  -62  -44   -5  -17
  -92   99   -1  -45  -87  -92  -66   95  -39  -63  -15   -9   27  -72
   47   92    2   86   97   92  -65   44  -90  -46  -76   89   12   16
  -44   43   49   60  -47  -74  -20    7  -27   74  -59  -45   63  -96
   86   79   77   29  -71  -95  -36  -25   44  -82   95   77   -4   46
   15   64   61  -17   90  -46  -70 -100  -12   98   50   34  -22    1
   59   38   10   42  -29   44    0   10  -77   44  -87  -73  -90   19
  -24  -56  -66   58   82   93  -59   89   17   46  -27   87   38   68
   -7  -49  -39   42   18  -29  -20  -38   30   48  -36   11   25  -34
   84   93  -34  -43   21  -33   -9    2   87  -49  -21   48   15  -12
   41  -19  -89    4   83   48  -86  -11   22   67   92   90  -49   17
   60   57  -68   15  -39   10  -78   63    8   38   74   41  -57   70
  -64  -39  -57   74   16  -63   93  -28  -49  -38  -18  -66  -19   38
  -23   61  -23   34   68  -96  -33   81   26   55  -36   -2   -6  -77
   78   -7   79   93  -70   44  -83   80  -85   56   53   13   35  -77
   29  -75  -45   34   93   -3  -29   15  -17  -34   -5  -26  -34    2
   -5   -1  -18  -87   25   45  -77  -16  -98   72   94   87  -33  -78
  -60  -78   47  -49   86   98   19  -50  -89   31   71  -36  -45   31
  -11   40   68  -46  -53   10   52   73   70   90   88  -84   91   46
  -16  -32   10   67   28  -88  -77  -57   78   95   43  -27   10   15
   25   21  -69  -22   18   70  -68   75  -61    5   -9   56   50  -33
  -79   39  -89  -89   40  -29   93   64  -91  -16   54   -9   35  -17
   26  -96  -71  -77  -34   62   22   61   61    9  -97   29   89   -4
   31   26   14  -55  -72  -97  -26   14  -21  -39  -79  -47  -20   -6
  -19   16   77   56  -60  -96   40   69   74   74   92  -47  -92   77
   62   81   63   26  -88  -94  -55  -48  -62    0  -65  -94   62  -15
  -27  -37  -29   98   15    9   95  -30   92  -91  -14   72   41   25
   -8   38  -16   33   23  -51  -14  -81  -17  -41   29   96   61   72
   58   62   -2  -14  -13  -22  -65   10  -87   70    1   36   40  -78
  -20    6   -3   66   44   94   87  -83  -56   30  -90   71   80  -12
  -59  -95   33   98   71   44]
Time:  9.000000000014552e-05
Time:  0.00012870000000475557

In [24]:
10

10

#